/**Colors**/
$main-color: #009688;
$secondary-color: #f50057;
$thertiary-color: #4dabf5;
$warning-color:#FFEB3B;
$failure-color:#FF5722;
$text-primary-color: #555;
$text-secondary-color: #ffffff;

/**Size**/
$height-base: 50px;


/**Fonts**/
